parametersSchema:
    todo_by: structure([
        nonIgnorable: bool()
        referenceTime: string()
        referenceVersion: string()
        singleGitRepo: bool()
    ])

# default parameters
parameters:
    todo_by:
        nonIgnorable: true

        # any strtotime() compatible string
        referenceTime: "now"

        # "nextMajor", "nextMinor", "nextPatch" or a version string like "1.2.3"
        referenceVersion: "nextMajor"

        # whether all files beeing analyzed are contained in the same git repository.
        # If set to false, the git tags are fetched for each directory individually (slower)
        singleGitRepo: true

services:
    -
        class: staabm\PHPStanTodoBy\TodoByDateRule
        tags: [phpstan.rules.rule]
        arguments:
            - %todo_by.nonIgnorable%
            - %todo_by.referenceTime%

    -
        class: staabm\PHPStanTodoBy\TodoByVersionRule
        tags: [phpstan.rules.rule]
        arguments:
            - %todo_by.nonIgnorable%
            - %todo_by.singleGitRepo%

    -
        class: staabm\PHPStanTodoBy\GitTagFetcher

    -
        class: staabm\PHPStanTodoBy\ReferenceVersionFinder
        arguments:
            - %todo_by.referenceVersion%

    -
        class: staabm\PHPStanTodoBy\VersionNormalizer
