parametersSchema:
    todo_by: structure([
        nonIgnorable: bool()
        referenceTime: string()
        referenceVersion: string()
        singleGitRepo: bool()
        byTicketEnabled: bool()
        ticketResolvedStatuses: listOf(string())
        ticketKeyPrefixes: listOf(string())
        jiraServer: schema(string(), nullable())
        jiraCredentialsFilePath: schema(string(), nullable())
    ])

# default parameters
parameters:
    todo_by:
        nonIgnorable: true

        # any strtotime() compatible string
        referenceTime: "now"

        # "nextMajor", "nextMinor", "nextPatch" or a version string like "1.2.3"
        referenceVersion: "nextMajor"

        # whether all files beeing analyzed are contained in the same git repository.
        # If set to false, the git tags are fetched for each directory individually (slower)
        singleGitRepo: true

        # whether to analyze comments by issue tracker ticket key
        byTicketEnabled: false

        # a case-sensitive list of status names.
        # only tickets having any of these statuses are considered resolved.
        ticketResolvedStatuses: []

        # if your ticket key is FOO-12345, then this value should be ["FOO"].
        # multiple key prefixes are allowed, e.g. ["FOO", "APP"].
        # only comments with keys containing this prefix will be analyzed.
        ticketKeyPrefixes: []

        # e.g. https://your-company.atlassian.net
        jiraServer: null

        # path to a file containing a string with username and either a password or api key.
        # username and a password/key must be separated with ":", e.g. john.doe@example.com:p@ssword
        # this file must not be commited into the repository!
        jiraCredentialsFilePath: null

conditionalTags:
    staabm\PHPStanTodoBy\TodoByTicketRule:
        phpstan.rules.rule: %todo_by.byTicketEnabled%

services:
    -
        class: staabm\PHPStanTodoBy\TodoByDateRule
        tags: [phpstan.rules.rule]
        arguments:
            - %todo_by.referenceTime%
    -
        class: staabm\PHPStanTodoBy\TodoByTicketRule
        arguments:
            - %todo_by.ticketResolvedStatuses%
            - %todo_by.ticketKeyPrefixes%

    -
        class: staabm\PHPStanTodoBy\TodoByVersionRule
        tags: [phpstan.rules.rule]
        arguments:
            - %todo_by.singleGitRepo%

    -
        class: staabm\PHPStanTodoBy\TodoByPackageVersionRule
        tags: [phpstan.rules.rule]
        arguments:
            - %currentWorkingDirectory%

    -
        class: staabm\PHPStanTodoBy\utils\GitTagFetcher

    -
        class: staabm\PHPStanTodoBy\utils\ReferenceVersionFinder
        arguments:
            - %todo_by.referenceVersion%

    -
        class: staabm\PHPStanTodoBy\utils\ExpiredCommentErrorBuilder
        arguments:
            - %todo_by.nonIgnorable%

    -
        class: staabm\PHPStanTodoBy\utils\JiraTicketStatusFetcher
        arguments:
            - %todo_by.jiraServer%
            - %todo_by.jiraCredentialsFilePath%
