includes:
    - extension.neon
    - ignore-by-php-version.neon.php
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false

    paths:
        - src
        - tests

    excludePaths:
        - tests/data/*
