name: Auto Format PHP
# workflow requires read/write access in actions
# see https://dev.to/github/the-githubtoken-in-github-actions-how-it-works-change-permissions-customizations-3cgp#the-permissions-ui

on:
    pull_request:
        paths:
            - '**.php'

jobs:
    php-cs-fixer:
        runs-on: ubuntu-latest
        # dont run on forks. requires commit access
        if: github.event.pull_request.head.repo.full_name == github.repository && github.event.pull_request.draft == false

        steps:
            -   name: Checkout
                uses: actions/checkout@v4
                with:
                    ref: ${{ github.head_ref }}
                    token: ${{ secrets.GITHUB_TOKEN }}

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 7.4
                  coverage: none # disable xdebug, pcov
                  tools: cs2pr

            - name: "Install dependencies with composer"
              run: "composer install --no-interaction --no-progress --no-suggest"

            - name: "Run friendsofphp/php-cs-fixer"
              run: "vendor/bin/php-cs-fixer fix --diff"

            - uses: stefanzweifel/git-auto-commit-action@v5
              with:
                  commit_message: Apply php-cs-fixer changes
                  branch: ${{ github.head_ref }}
              env:
                  token: ${{ secrets.GITHUB_TOKEN }}

            - run: vendor/bin/php-cs-fixer fix --diff --dry-run --format=checkstyle | cs2pr # check whether there are still errors left
