name: E2E tests

on:
    push:
        branches:
            - main
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]

jobs:
    phpunit:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                include:
                    -   os: ubuntu-latest
                        php-version: '8.2'
                        script: |
                            cd tests-e2e/bug52/
                            composer install
                            vendor/bin/phpstan analyse

        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Get tags
                run: git fetch --tags origin

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    extensions: gd, intl, pdo_mysql
                    coverage: none # disable xdebug, pcov

            -   name: Composer install
                uses: ramsey/composer-install@v2
                with:
                    composer-options: '--ansi --prefer-dist'

            -   name: "Tests"
                run: "${{ matrix.script }}"
