name: E2E tests

on:
    push:
        branches:
            - main
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]

jobs:
    phpunit:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                include:
                    -   os: ubuntu-latest
                        php-version: '8.2'
                        test-dir: tests-e2e/bug52/
                        script: |
                            vendor/bin/phpstan analyse
                    -   os: ubuntu-latest
                        php-version: '8.2'
                        test-dir: tests-e2e/github/
                        script: |
                            diff -w <(vendor/bin/phpstan analyse --error-format=prettyJson --no-progress | sed "s|$(pwd)/||") expected-errors.json
                    -   os: ubuntu-latest
                        php-version: '8.2'
                        test-dir: tests-e2e/jira/
                        script: |
                            diff -w <(vendor/bin/phpstan analyse --error-format=prettyJson --no-progress | sed "s|$(pwd)/||") expected-errors.json
                    -   os: ubuntu-latest
                        php-version: '8.2'
                        test-dir: tests-e2e/youtrack/
                        script: |
                            diff -w <(vendor/bin/phpstan analyse --error-format=prettyJson --no-progress | sed "s|$(pwd)/||") expected-errors.json

        steps:
            -   name: Checkout
                uses: actions/checkout@v6

            -   name: Get tags
                run: git fetch --tags origin

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    coverage: none # disable xdebug, pcov

            -   run: "composer config repositories.repo-name vcs http://github.com/${{ github.event.pull_request.head.repo.full_name }}/"
                working-directory: ${{ matrix.test-dir }}
                if: "github.event_name != 'push' && github.event.pull_request.head.repo.full_name != github.repository"

            -   run: "composer require --dev staabm/phpstan-todo-by:dev-${{ github.head_ref || github.ref_name }}"
                working-directory: ${{ matrix.test-dir }}

            -   name: "Tests"
                run: "${{ matrix.script }}"
                working-directory: ${{ matrix.test-dir }}
